[net]
# Training
batch=128
subdivisions=2

# Testing
# batch=1
# subdivisions=1

height=224
width=224
channels=3
min_crop=128
max_crop=448

burn_in=1000
learning_rate=0.1
policy=poly
power=4
max_batches=800000
momentum=0.9
decay=0.0005

angle=7
hue=.1
saturation=.75
exposure=.75
aspect=.75

# Stem

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

[maxpool]
size=3
stride=2

# Bottleneck 1

[convolutional]
batch_normalize=1
filters=72
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

# Res2Block 1-1

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 1-2

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 1-3

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=72
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Bottleneck 2

[convolutional]
batch_normalize=1
filters=144
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

# Res2Block 2-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 2-2

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 2-3

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 2-4

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 2-5

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 2-6

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 2-7

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=144
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=576
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Bottleneck 3

[convolutional]
batch_normalize=1
filters=288
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

# Res2Block 3-1

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 3-2

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# Res2Block 3-3

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
group_id=0
groups=4

[route]
layers=-2
group_id=1
groups=4

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-4
group_id=2
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-7
group_id=3
groups=4

[shortcut]
from=-2
activation=linear

[convolutional]
batch_normalize=1
filters=288
groups=2
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-9,-7,-4,-1

[convolutional]
batch_normalize=1
filters=1152
size=1
stride=1
pad=1
activation=leaky

[shortcut]
from=-13
activation=linear

# stage 4

[avgpool]

[convolutional]
filters=1000
size=1
stride=1
pad=1
activation=linear

[softmax]
groups=1
